$flexy-theme-border-radius: 0.25em;
$flexy-font: 'Fira Sans', Roboto, Helvetica, Arial, sans-serif;
$flexy-grid-wrapper-max-width: 1280px;
$flexy-theme-colors: (
  default: #047bf8,
  black: #000,
  dark: #171c2a,
  gray: #47495a,
  primary: #047bf8,
  success: #1baa51,
  error: #aa272c
);
$flexy-block-divider-default-color: rgba(#000, 0.05);
